{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Destinataire</title>
        <link rel="stylesheet" href="{% static 'main/css/addressee.css' %}">
        <link rel="shortcut icon" type="image/svg" > 
        <link rel="icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">   
        <meta charset="utf-8">
    </head>
    <body>
        <div class="div-full">
            <header>
                <h1>CARGO</h1>
                <a href="{% url 'logout' %}"><button class="button-logout">Déconnexion</button></a>
            </header>
            <p class="p-hello">Bonjour <span>Jonathan Schlegel</span></p>
            <div class="div-table">
                <table>
                    <thead>
                    <tr>
                        <th>Nom de la commande</th>
                        <th>Status</th>
                        <th>Détails</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Trotinette</td>
                        <td>EMBALLÉ</td>
                        <td><a href="#demo">Afficher les détails</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <!-----La partie Popup----->
                <div id="demo" class="modal">
                    <div class="modal_content">
                        <a href="#" class="modal_close">&times;</a>
                        <div class="div-state">
                            <p class="packed">Emballé</p>
                            <p class="arrived">Arrivé</p>
                            <p class="departure">Départ</p>
                            <p class="delivered">Livré</p>
                            <p class="received">Reçu</p>

                            <div class="circle-packed"></div>
                            <div class="circle-arrived"></div>
                            <div class="circle-departed"></div>
                            <div class="circle-delivered"></div>
                            <div class="circle-received"></div>
                        </div>
                        <div class="div-button-received">
                            <button class="button-received">Reçu</button>
                        </div>
                        <div class="div-details">
                            
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------->
            
            <footer>
                <p>© 2024 CARGO </br> All rights reserved</p>
            </footer>
        </div>
</body>
</html>