{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Commandes</title>
    <link rel="stylesheet" href="{% static 'destinataire/css/style.css' %}">
    <link rel="icon" href="favicon.ico"/>
    <meta charset="utf-8">
</head>
<body>

        <header>
            <h1>CARGO</h1>
            <button type="submit">Déconnexion</button>
        </header>
        <p class="p-hello">Bonjour<span>Jonathan Schlegel</span></p>
        <!-----Le div blanc représentant la commande-->
        <div class="div-command">
            <p class="p-name">Nom de la commande:</p>
            <p class="p-state">Statut de la commande:</p>
            <a href="#demo">Afficher les détails</a>
        </div>
        <!-----La partie Popup----->
        <div id="demo" class="modal">
            <div class="modal_content">
                <a href="#" class="modal_close">&times;</a>
                <div class="div-state">
                    <p>EMBALLÉ</p>
                    <p>ARRIVÉ</p>
                    <p>DÉPART</p>
                    <p>LIVRÉ</p>
                    <p>REÇU</p>
                </div>
                <div class="div-circle">
                    <div class="div-circle-packed"></div>
                    <div class="div-circle-arrived"></div>
                    <div class="div-circle-departed"></div>
                    <div class="div-circle-delivered"></div>
                    <div class="div-circle-received"></div>
                </div>
                <button class="button-received">REÇU &check;</button>
                <p class="p-sender">Expéditeur: Amazon</p>
                <p class="p-transport">Transport: dpd</p>
                <p class="p-idpackage">ID du colis : 505</p>
                <p class="p-weight">Poids: 5kg</p>
                <p class="p-size">Taille: 300x300x300mm</p>
            </div>
        </div>
        <!--------------------------------------------------->
</body>
</html>

